/* light blue  #addcfe 
   dark blue #113b5a
   btn color #166aa6
*/

* {
  padding: 0;
  margin: 0;
}

/* this is header */

header {
  background-image: url("images/bg-header.png");
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 0;
  width: 960px;
  margin: 0 auto;
}
a:link,
a:visited {
  text-decoration: none;
  color: #fff;
  display: inline-block;
}

a:hover,
a:active {
  color: #44b2f1;
}

nav {
  display: flex;
  gap: 15px;
}

/* this is article  */
body {
  background-color: #e8eff4;
}

.main-bg {
  width: 100%;
  height: 95vh;
  position: relative;
}

.welcome-container {
  position: absolute;
  top: 6vh;
  left: 3vw;
  text-align: center;
}

.welcome-h1 {
  color: rgb(219, 218, 226);
  font-size: 4.8vw;
}

.welcome-p {
  color: rgb(219, 218, 226);
  font-size: 1.8vw;
  margin-top: 4vh;
}

.form {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.signup-h1 {
  font-size: 3vw;
  color: #113b5a;
  margin: 5vh 0;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox
input[type="number"] {
   -moz-appearance: textfield;
} */

.input {
  width: 50vw;
  height: 2vw;
  margin-bottom: 2vw;
  border: 0px solid;
  padding: 0.5rem;
  border-radius: 4px;
  font-size: large;
}

.input:focus {
  outline: none;
}

.btn-signup {
  padding: 1.5vh 2.5vw;
  font-size: large;
  margin-bottom: 3vh;
  color: whitesmoke;
  background-color: #166aa6;
  cursor: pointer;
  border: 0px solid;
  border-radius: 6px;
  transition: all 0.2s ease-in-out;
}

.btn-signup:hover {
  background-color: #1284d6;
  color: white;
}

.invalid {
  border: 1px solid red;
}

.p-invalid-container {
  color: red;
  margin-bottom: 3vh;
}

/* this is footer  */

footer {
  background-color: #072438;
}
.footer-continer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: start;
  padding: 24px;
  width: 960px;
  margin: 0 auto;
  background-image: url("images/bg-footer.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
footer h4 {
  color: #fff;
}

.footer-link:link,
.footer-link:visited {
  color: #7890a1;
  text-decoration: none;
  font-size: 12px;
  display: flex;
  padding: 3px 0 8px;
  margin-bottom: 5px;
}

.footer-link:hover,
.footer-link:active {
  color: #fff;
}

.row {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
